@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sktable {
  background-color: #ab966d;
  font-size: 12px;
  width: 70%;
  margin: 20px;
}

.shan1 {
  background-color: greenyellow;
  color: black;
}

.skbody {
  background-color: papayawhip;
}

.chart-container {
  padding: 10px;    
  max-width: 2000px;  
}

.donut {

margin-left: 10px;
display: inline-block;

}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*class element*/
.image-row img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: #0f141e;
  border-radius: 25px;
}

a:link {
  text-decoration: none;
  color: #ab966d;
}

a:visited {
  color: #ab966d;
}

/*
  111 > 101 >100 > 011 > 010 > 001
*/

/*selector*/
h1 { 
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h5 {
  font-size: 30px !important;
}

h6 {
  font-size: 25px !important;
}

.botmLabels {
  font-size: 12px;
  color: pink !important;
}

/*Cards*/
.white-box {
  background-color: white;
  border: 1px solid black;

  padding: 12px;
  max-width: 325px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.white-box2 {
  background-color: white;
  border: 1px solid black;

  padding: 12px;
  max-width: 325px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.rowCard {
  margin-left: 10px;
}

.columnCard {
  flex: 1;
  color: black;
  font-size: 17px;
  /* background-color: green; */
}

.columnCard2 {
  flex: 1;
  color: black;
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
} 

.two-column {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 650px;
    gap: 10px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 25px !important;
  }

  h3 {
    font-size: 25px !important;
  }

  h5 {
    font-size: 25px !important;
  }

  h6 {
    font-size: 20px !important;
  }

  .white-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 150px;
  }

  .columnCard {
    font-size: 14px;
  }

  .columnCard2 {
    font-size: 18px;
  }
  .twoColumn {
    max-width: 150px;
  }

}